body {
    background-color: #e4f4f4;
    color: #303030;
    font-family: 'Montserrat', verdana,  sans-serif;
} 
main {
    padding: 1rem;
}
h2 {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}
p {
    margin-bottom: 1.5rem;
}