nav.nav-header {
    background-color: #a43;
    margin-bottom: 1rem;
}
nav.nav-header li {
    display: inline-block;
}
nav.nav-header a {
    display: inline-block;
    color: $primary-color;
    text-decoration: none;
    padding: 1.5rem 1rem;
    text-transform: uppercase;
    transition: background-color ease 0.3s; 
}
nav.nav-header a:hover {
    background-color: rgba(100, 100, 100, 0.6);
}